# Data Reading

In [51]:
import pandas as pd

In [2]:
df = pd.read_table('http://bit.ly/chiporders')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
df.head()

In [ ]:
header_names=['id','age','sex','job_title','zip_code']
dff = pd.read_table('http://bit.ly/movieusers', sep='|', header=None, names=header_names, index_col=0, skiprows=1, skipfooter=-1)

In [ ]:
dff

# Selecting Pandas series

In [7]:
file = 'http://bit.ly/uforeports'
data = pd.read_table(file, sep=',')

URLError: <urlopen error [Errno 11001] getaddrinfo failed>

In [ ]:
data.head()

In [ ]:
type(data)

In [ ]:
data.City

In [ ]:
type(data.City)

In [ ]:
data['City']

In [ ]:
data['address'] = data.City + ', ' +  data.State

In [ ]:
data.head()

# what is Methods and attributes

In [5]:
file_new = 'little_rock.csv'
new_data = pd.read_csv(file_new)
#when ever we use pd before we make some action will be functions.
# mean function will always strt with pd

In [ ]:
new_data.head()
#the object which have paranthices is methods
#mean methods will have parantheces () in the end

In [ ]:
new_data.describe(include=['object'])
#method

In [ ]:
type(new_data)

In [ ]:
new_data.shape
#shape is attribute because that have no parantheces ()
# shape attribute show number of rows and columns.

In [ ]:
new_data.
#pressing tab after dataframe with . will show all methods in pandas.

In [ ]:
#pressing shift and tab
#docstring
##click anywhere in the parantheces and than press shift and tab keys
#will show you the docstring about methods.

# Renaming columns (Header) Names

### how to show columns's names?

In [ ]:
new_data.columns

### how to rename columns?

In [ ]:
new_data.rename(columns={'raw_row_number':'row_number'}, inplace=True)

In [ ]:
new_data.columns

### how to shorten column names?

In [ ]:
new_data.rename(columns = lambda x: x[0:4], inplace=True)

In [ ]:
new_data.columns

### how to rename culumns simple and easy?

In [ ]:
cols_names = ['Row','Date', 'Time','Lat','Lng','Subj_age','Subj_race','Subj_sex','Type','Citation','Outcome','Vehicle','Defendant_race']

In [ ]:
new_data.columns = cols_names

In [ ]:
new_data.columns

###  another renaming method while reading file

In [ ]:
new_data = pd.read_csv(file_new, names=cols_names, header=0)
# names will put new names on the header
#header = 0 mean header will remove the header while putting new names

In [ ]:
new_data.columns

### what if we change overall columns and replace   _  with space?

In [ ]:
new_data = pd.read_csv(file_new)

In [ ]:
new_data.columns

In [ ]:
new_data.columns = new_data.columns.str.replace('_',' ')

In [ ]:
new_data.columns

# How to remove column from datafram?

In [ ]:
new_data = pd.read_csv(file_new)

In [ ]:
new_data.columns

## droping columns

In [ ]:
new_data.drop(['lat','lng'], axis=1, inplace=True)

In [ ]:
new_data.columns

## droping one column

In [ ]:
new_data.drop('type', axis=1, inplace=True)

In [ ]:
new_data.columns

# how to remove rows?

In [ ]:
new_data.head()

In [ ]:
new_data.drop([0,1], axis=0, inplace=True)

In [ ]:
new_data.head()

# Replacing row to header in pandas

In [23]:
excelfile = pd.ExcelFile('enviroment.xlsx')
dataframe_excel = pd.read_excel(excelfile, 'Sheet1')
header_excel = dataframe.iloc[1]
dataframe = dataframe[1:]
dataframe.columns = header_excel
dataframe.head()

1  1990Q3  Sep 90  1526.3  131.5   7.9  856.8   78.4   8.4  669.5  53.1   7.4
1  1990Q3  Sep 90  1526.3  131.5   7.9  856.8   78.4   8.4  669.5  53.1   7.4
2  1990Q4  Dec 90  1538.3  148.3   8.8  864.0   88.0   9.2  674.3  60.3   8.2
3  1991Q1  Mar 91  1519.7  173.1  10.2  853.0   99.1  10.4  666.7  73.9  10.0
4  1991Q2  Jun 91  1512.2  174.0  10.3  844.2  102.1  10.8  668.0  71.9   9.7
5  1991Q3  Sep 91  1495.4  184.0  11.0  832.6  112.1  11.9  662.8  71.9   9.8

# Sorting pandas DataFrames or Series

In [49]:
dataframe_csv = pd.read_csv('little_rock.csv')
dataframe_csv.head()

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
0,8620|12751,2017-01-01,01:50:15,NaN,NaN,55.0,white,male,vehicular,True,citation,Other,CAUCASIAN
1,5296|10153|13440|14777,2017-01-01,05:24:24,NaN,NaN,52.0,black,female,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
2,16622,2017-01-01,05:56:20,NaN,NaN,35.0,black,male,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
3,4386,2017-01-01,06:35:46,NaN,NaN,20.0,black,male,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
4,6497|17819,2017-01-01,07:48:45,NaN,NaN,22.0,black,female,vehicular,True,citation,Sports Utility Vehicle,AFRICAN AMERICAN

## Series Sorting

## assecending Order by default

In [43]:
dataframe_csv['vehicle_type'].sort_values()
# bracket notation selection of series

4466     All Terrain Vehicle
4468     All Terrain Vehicle
8673     All Terrain Vehicle
12401    All Terrain Vehicle
4163     All Terrain Vehicle
                ...
12961                    Van
8523                     Van
8525                     Van
12941                    Van
11376                    Van
Name: vehicle_type, Length: 13641, dtype: object

## Dessecending Order

In [44]:
dataframe_csv.vehicle_type.sort_values(ascending=False)
# dot notation select of series

11376                    Van
12941                    Van
8525                     Van
8523                     Van
12961                    Van
                ...
4163     All Terrain Vehicle
12401    All Terrain Vehicle
8673     All Terrain Vehicle
4468     All Terrain Vehicle
4466     All Terrain Vehicle
Name: vehicle_type, Length: 13641, dtype: object

## dataframe sorting

## Ascending Order

In [48]:
dataframe_csv.sort_values('vehicle_type').head()

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
4466,1902,2017-04-13,00:00:49,NaN,NaN,18.0,white,male,vehicular,True,citation,All Terrain Vehicle,CAUCASIAN
4468,863,2017-04-13,00:05:16,NaN,NaN,18.0,white,male,vehicular,True,citation,All Terrain Vehicle,CAUCASIAN
8673,3498,2017-07-16,18:30:50,NaN,NaN,21.0,black,male,vehicular,True,citation,All Terrain Vehicle,AFRICAN AMERICAN
12401,1558|5576|8071|14048,2017-10-04,13:40:33,NaN,NaN,20.0,black,male,vehicular,True,citation,All Terrain Vehicle,AFRICAN AMERICAN
4163,15890,2017-04-06,14:07:11,NaN,NaN,31.0,asian/pacific islander,male,vehicular,True,citation,All Terrain Vehicle,ASIAN

## Descending Order

In [47]:
dataframe_csv.sort_values('subject_age', ascending=False).head()

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
11664,19452,2017-09-19,10:15:45,NaN,NaN,99.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
4029,16682,2017-04-04,19:29:53,NaN,NaN,98.0,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
9857,10385,2017-08-12,13:48:19,NaN,NaN,95.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
11484,3480,2017-09-15,16:54:42,NaN,NaN,94.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
5515,16567,2017-05-02,21:50:04,NaN,NaN,93.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN

## Sorting more than one columns

In [61]:
dataframe_csv.sort_values(['subject_age', 'vehicle_type'])

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
4867,10122|10666,2017-04-20,02:11:18,NaN,NaN,14.0,black,male,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
5435,154|13646,2017-05-01,16:38:58,NaN,NaN,14.0,black,female,vehicular,True,citation,Passenger Car,AFRICAN AMERICAN
8793,1609,2017-07-18,17:56:26,NaN,NaN,14.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
12096,4135|8414|12228,2017-09-27,15:55:41,NaN,NaN,14.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
9649,3410,2017-08-09,09:30:47,NaN,NaN,15.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10255,10581,2017-08-21,07:35:38,NaN,NaN,NaN,unknown,male,vehicular,True,citation,Pickup,UNKNOWN
4979,3211|9835,2017-04-21,14:08:31,NaN,NaN,NaN,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
10443,15873,2017-08-24,15:14:24,NaN,NaN,NaN,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
10671,11946|15557,2017-08-30,00:00:13,NaN,NaN,NaN,black,male,vehicular,True,citation,Sports Utility Vehicle,AFRICAN AMERICAN
12067,3845|14774,2017-09-27,08:25:38,NaN,NaN,NaN,unknown,NaN,vehicular,True,citation,Sports Utility Vehicle,UNKNOWN

# Appling multiple Filtering like (Select clause in Sql)

## Using single statement for filtering statement

In [76]:
dataframe_csv[dataframe_csv.subject_age <= 16.0]

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
187,6997,2017-01-07,23:30:41,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
272,18097,2017-01-10,19:16:47,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
374,6725|6876|19234,2017-01-13,20:07:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
404,11387,2017-01-14,17:24:48,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
504,11237,2017-01-17,19:22:05,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13166,3838,2017-10-24,07:44:33,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13188,5480|6870,2017-10-24,17:17:21,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
13214,3194,2017-10-25,13:36:54,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
13548,7284,2017-11-01,18:11:26,NaN,NaN,16.0,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13612,7178,2017-11-02,15:51:18,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN

## AND & OR

## Filtering dataframe with AND statement

In [79]:
dataframe_csv[(dataframe_csv.subject_age <= 16.0) & (dataframe_csv.subject_sex == 'male')]

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
272,18097,2017-01-10,19:16:47,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
374,6725|6876|19234,2017-01-13,20:07:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
504,11237,2017-01-17,19:22:05,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
617,18380,2017-01-20,20:41:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
649,16838,2017-01-21,10:46:34,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13066,4049|7515,2017-10-21,10:29:07,NaN,NaN,16.0,black,male,vehicular,True,citation,Sports Utility Vehicle,AFRICAN AMERICAN
13166,3838,2017-10-24,07:44:33,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13188,5480|6870,2017-10-24,17:17:21,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
13214,3194,2017-10-25,13:36:54,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
13612,7178,2017-11-02,15:51:18,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN

##  Using OR statement (OR)

In [89]:
dataframe_csv[(dataframe_csv.raw_row_number == '18097') | (dataframe_csv.subject_age <= 16.0)]

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
187,6997,2017-01-07,23:30:41,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
272,18097,2017-01-10,19:16:47,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
374,6725|6876|19234,2017-01-13,20:07:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
404,11387,2017-01-14,17:24:48,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
504,11237,2017-01-17,19:22:05,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13166,3838,2017-10-24,07:44:33,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13188,5480|6870,2017-10-24,17:17:21,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
13214,3194,2017-10-25,13:36:54,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
13548,7284,2017-11-01,18:11:26,NaN,NaN,16.0,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13612,7178,2017-11-02,15:51:18,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN

## Selecting single column of dataframe

In [99]:
dataframe_csv.date[(dataframe_csv.date == '2017-01-07') & (dataframe_csv.subject_race == 'white')]

171    2017-01-07
175    2017-01-07
176    2017-01-07
178    2017-01-07
179    2017-01-07
181    2017-01-07
182    2017-01-07
183    2017-01-07
184    2017-01-07
187    2017-01-07
189    2017-01-07
Name: date, dtype: object

## Filtering one column with different conditions

In [103]:
dataframe_csv[(dataframe_csv.subject_age == 14.0) | (dataframe_csv.subject_age == 15.0) | (dataframe_csv.subject_age == 16.0 )]

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
187,6997,2017-01-07,23:30:41,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
272,18097,2017-01-10,19:16:47,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
374,6725|6876|19234,2017-01-13,20:07:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
404,11387,2017-01-14,17:24:48,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
504,11237,2017-01-17,19:22:05,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13166,3838,2017-10-24,07:44:33,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13188,5480|6870,2017-10-24,17:17:21,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
13214,3194,2017-10-25,13:36:54,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
13548,7284,2017-11-01,18:11:26,NaN,NaN,16.0,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13612,7178,2017-11-02,15:51:18,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN

### Another Method

In [102]:
dataframe_csv[dataframe_csv.subject_age.isin([14.0,15.0,16.0])]

,raw_row_number,date,time,lat,lng,subject_age,subject_race,subject_sex,type,citation_issued,outcome,vehicle_type,raw_defendant_race
187,6997,2017-01-07,23:30:41,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
272,18097,2017-01-10,19:16:47,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
374,6725|6876|19234,2017-01-13,20:07:48,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
404,11387,2017-01-14,17:24:48,NaN,NaN,16.0,white,female,vehicular,True,citation,Passenger Car,CAUCASIAN
504,11237,2017-01-17,19:22:05,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13166,3838,2017-10-24,07:44:33,NaN,NaN,16.0,white,male,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13188,5480|6870,2017-10-24,17:17:21,NaN,NaN,16.0,white,male,vehicular,True,citation,Passenger Car,CAUCASIAN
13214,3194,2017-10-25,13:36:54,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN
13548,7284,2017-11-01,18:11:26,NaN,NaN,16.0,white,female,vehicular,True,citation,Sports Utility Vehicle,CAUCASIAN
13612,7178,2017-11-02,15:51:18,NaN,NaN,16.0,white,male,vehicular,True,citation,Pickup,CAUCASIAN